body {
  max-width: 70em;
  margin: 0 auto;
  padding: 5px;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 24px;
}

text.amcharts-axis-title {
  color: red;
  transform: translate(-60px, 185px) rotate(-90deg)
}
